/*/
@
@ ArBB Installation Script V 1.0 Style Sheets
@                By : Thaer
@
/*/

body {
        margin: 0;
        padding: 0;
        color: #7e7e7e;
        background: #FFFFFF url('images/bg.gif') repeat-x;
        line-height: 16px;
        font-style:normal;
        font-variant:normal;
        font-weight:normal;
        font-size:70%;
        font-family:Tahoma, Arial, Helvetica, sans-serif
}

a {
        color: #008800;
        background-color: inherit;
}

a:hover {
        color: #575757;
        background-color: inherit;
}

#content {
        margin: 0px auto;
        width: 780px;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;    
}

.header {
        height: 45px;
        border-top: 4px solid #000;
        background: #FFF url('images/headerbg.gif') repeat-x bottom left;
        color: #808080; margin-left:0;
        margin-right:0;
        margin-top:0px;
        margin-bottom:2px;
        padding-left:5px;
        padding-right:0;
        padding-top:20px;
        padding-bottom:0
}


.subheader {
        clear: both;
        height: 23px;
        line-height: 28px;
        background: #33ADDB url('images/hmleftbg.gif') repeat-x;
        Font-weight:bold;
        color: #FFFFFF
}

.table_border
{
        background: #e2e1ea;
        color: #000000;
        border: 1px solid #6581c1;
}
.tcat
{
        background: #5672b2 url('images/hmleftbg.gif') repeat-x top left;
        color: #FFFFFF;
        font-style:normal; font-variant:normal; font-weight:bold; font-size:12px; font-family:ms sans serif, arial
}
.tcat a:link, .tcat_alink
{
        color: #008800;
        text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
        color: #008800;
        text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
        color: #008888;
        text-decoration: none;
}

.td1
{
        background: #FAFAFA;
        color: #4D528C;
        border-left: 1px solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        font-style:normal; font-variant:normal; font-weight:bold; font-size:12px; font-family:ms sans serif, arial

}
.td2
{
        background: #F3F3F3;
        color: #4D528C;
        border-left: 1px solid #FFFFFF;
        border-top: 1px solid #FFFFFF;
        font-style:normal; font-variant:normal; font-weight:bold; font-size:12px; font-family:ms sans serif, arial

}
.left {
        float: left;
        padding: 5px 0 0 5px;
        width: 190px;
}

.right {
        float: right;
        width: 560px;
        margin: 0 0 20px 0;
        padding: 5px 0 0 15px;
        color: #000;
        background-color: #FFFFFF;
        border-left: 1px solid #e6e6e6;
}
.footer {
        clear: both;
        color: #999999;
        background-color: #FFFFFF;
        padding: 10px 0 10px 0;
        border-top: 1px solid #e6e6e6;
        text-align: center;
        line-height: 13px;
}

.footer a {
        text-decoration: underline;
}

input.text {
        margin: 0;
        width: 95px;
        border: 1px solid #ccc;
        background: #FFF;
        color: #000;
}
input.submit {
        border: 3px double #0F5C8E;
        padding: 3px;
        background: #fff url('images/submit_bg.gif') repeat-x top;
        color: #0F5C8E;
        font-weight: bold;
        margin-top: 4px;
        margin-right: 3px;
}
.agreement {
        margin: 10px auto;
        padding: 10px;
        overflow: scroll;
        height: 400px;
        width: 500px;
        border: 1px solid #ccc;
}